:root {
  --main-font-type: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --secondary-font-type: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-type);
  color: #514e61;
}

body {
  background: linear-gradient(
    104deg,
    rgba(124, 153, 214, 0.25),
    rgba(113, 150, 167, 0.21)
  );
}

h3,
p {
  font-family: var(--secondary-font-type);
}

h3 {
  font-weight: 900;
}

/* ----------- Nav Bar ------------ */

.nav-bar {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 15px 7% 0 5%;
  border-radius: 50px;
  padding: 15px 25px;
  border: 0.5px solid lightblue;
}

.site-title {
  text-decoration: none;
  color: #2a2641;
  font-size: 2.5rem;
}

.feather-svg {
  width: 2.5rem;
}

.navigation-menu {
  z-index: 6;
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  font-size: 1.15rem;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #2a2641;
  font-family: var(--secondary-font-type);
  font-weight: 800;
  transition: transform 0.3s;
}

.navigation-menu li > a:hover {
  transform: translateY(-7.5%);
}

.hamburger {
  border: none;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  margin-right: 0.75rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
}

/* ----------- Home Page ------------- */

.heading-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  margin-right: 7%;
  gap: 10px;
}

.main-heading {
  position: relative;
  font-size: 6rem;
  width: 45%;
}

.main-heading > span {
  color: #fff;
}

.heading-container > p {
  font-size: 1.25rem;
  width: 45%;
  margin-bottom: 10%;
}

.homepage-background-img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  transition: transform 0.4s;
}

.circles-container {
  max-height: 100vh;
  overflow: hidden;
}

.circle-underlay-1 {
  width: 800px;
  height: 800px;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(217, 236, 243, 0.75),
    rgb(158, 209, 234)
  );
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  z-index: -1;
  transition: transform 0.5s;
}

.circle-underlay-2 {
  width: 1080px;
  height: 1080px;
  border-radius: 100%;
  background: linear-gradient(0deg, rgb(190, 219, 225), rgb(188, 235, 243));
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  z-index: -2;
  transition: transform 0.6s;
}

.circle-enter {
  transform: translate(-50%, -50%);
}

.main-img-enter {
  transform: translate(0%, -50%);
}

/* ----------- Bird Styles ----------- */

.bird-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  width: 100vw;
}

.bird-type {
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border: 0.5px solid lightgray;
  border-radius: 25px;
  padding: 30px;
  width: 425px;
  height: fit-content;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.bird-heading {
  width: fit-content;
  font-weight: 800;
  font-size: 1.8rem;
}

.bird-desc {
  font-weight: 300;
  margin-top: 25px;
  transition: transform 0.5s;
}

.bird-facts {
  display: flex;
  flex-flow: column;
  gap: 15px;
  position: absolute;
  margin: 50px 25px 0 0;
  transition: transform 0.5s;
}

.learn-more {
  padding: 8px 12px;
  background-color: #5670ce;
  color: #fff;
  border-radius: 25px;
  border: none;
  width: fit-content;
  transition: background-color 0.4s;
}

.learn-more:hover {
  background-color: #16409a;
  cursor: pointer;
}

.shift {
  transform: translateX(0%);
}

.shift-left {
  transform: translateX(-130%);
}

.shift-right {
  transform: translateX(180%);
}

.bird-img {
  width: 500px;
  transform: translateY(20%);
  transition: transform 0.5s;
}

.bird-img-fade-in {
  transform: translateY(0%);
}

/* --------- circles ------------ */

.circles {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: center;
  gap: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(50deg, #ebebeb, #c0beea);
}

.circle:hover {
  cursor: pointer;
}

/* ------------- Footer -------------- */

.footer {
  display: flex;
  flex-flow: column;
  /* padding: 25px; */
  margin: 0 7% 25px 5%;
  font-family: var(--secondary-font-type);
  opacity: 0.1;
  transition: opacity 0.5s;
}

.footer-fade-in {
  opacity: 1;
}

.img-credits {
  padding-bottom: 15px;
}

.img-credits > p > a {
  margin: 0 5px;
}

.creater-info {
  display: flex;
  border-top: 0.5px solid rgb(163, 208, 223);
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.creater-info > p > span {
  background-color: #eaf3f6;
  border-radius: 15px;
  padding: 5px 7px;
  font-family: var(--main-font-type);
}

.creater-info > ul {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

.creater-info > ul > li {
  width: 35px;
}

/* ------------- Media Queries ------------- */

@media only screen and (max-width: 1410px) {
  .main-heading {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 1280px) {
  .main-heading,
  .heading-container > p {
    width: 52%;
  }

  .main-heading {
    font-size: 5rem;
  }

  .heading-container > p {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 1180px) {
  .navigation-menu ul {
    font-size: 1.08rem;
  }

  .main-heading {
    font-size: 4.5rem;
  }

  .heading-container > p {
    font-size: 1rem;
    margin-bottom: 15%;
  }

  .homepage-background-img {
    width: 420px;
  }

  .circle-underlay-1 {
    transform: translate(-48%, -50%);
  }

  .circle-underlay-2 {
    transform: translate(-44%, -50%);
  }
}

@media only screen and (max-width: 980px) {
  .site-title {
    font-size: 2rem;
    font-weight: 800;
  }

  .navigation-menu > ul {
    font-size: 1rem;
  }

  .heading-container {
    align-items: flex-end;
  }

  .homepage-background-img {
    width: 390px;
  }

  .main-heading {
    text-align: center;
    font-size: 4rem;
  }

  .heading-container > p {
    text-align: center;
    font-size: 1rem;
  }

  .bird-info {
    flex-direction: column-reverse;
    margin: 50px 0 50px 0;
    height: fit-content;
  }

  .bird-type {
    padding-top: 150px;
    margin-top: 280px;
  }

  .bird-img {
    position: absolute;
    top: 100px;
    width: 450px;
  }
}

@media only screen and (max-width: 840px) {
  .homepage-background-img {
    width: 360px;
  }

  .circle-underlay-1 {
    transform: translate(-55%, -50%);
  }

  .circle-underlay-2 {
    transform: translate(-52%, -50%);
  }

  .main-heading {
    font-size: 3.75rem;
  }

  .heading-container > p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 18%;
  }
}

@media only screen and (max-width: 850px) {
  .hamburger {
    display: inline;
  }

  .nav-bar {
    margin: 15px 7% 0 7%;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    width: 100%;
    /* height: calc(100vh - 77px); */
    background-color: #fff;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    z-index: 4;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  }

  .expanded ul {
    display: block;
  }

  .navigation-menu ul li {
    text-align: center;
    margin: 20px;
  }

  .navigation-menu ul li:hover {
    background-color: #eee;
  }

  .shift-right {
    transform: translateX(280%);
  }
}

@media only screen and (max-width: 768px) {
  .homepage-background-img {
    top: 60%;
    opacity: 0.35;
  }

  .heading-container {
    align-items: center;
    margin: 0;
  }

  .circle-underlay-1 {
    top: 60%;
    width: 750px;
    height: 750px;
  }

  .circle-underlay-2 {
    display: none;
  }

  .main-heading {
    z-index: 4;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 25px;
    font-size: 3rem;
  }

  .main-heading > span {
    color: rgb(168, 168, 195);
  }

  .heading-container > p {
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  .main-heading {
    font-size: 3.5rem;
    width: 80%;
  }

  .heading-container > p {
    width: 75%;
  }
}

@media only screen and (max-width: 510px) {
  .bird-img {
    width: 360px;
  }

  .bird-type {
    padding-top: 100px;
    margin-top: 240px;
    width: 390px;
  }

  .circles {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 440px) {
  .circle-underlay-1 {
    transform: translate(-50%, -50%);
    width: 510px;
    height: 510px;
  }

  .main-heading {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 400px) {
  .nav-bar {
    margin: 15px 5% 0 5%;
  }

  .bird-img {
    top: 90px;
    width: 340px;
  }

  .bird-type {
    padding-top: 75px;
    margin-top: 230px;
    width: 350px;
  }

  .circles {
    margin-top: 15px;
  }

  .creater-info > ul {
    gap: 15px;
  }
}

@media only screen and (max-width: 365px) {
  .homepage-background-img {
    width: 300px;
  }

  .bird-img {
    top: 130px;
    width: 290px;
  }

  .bird-type {
    margin-top: 200px;
    width: 320px;
  }
}
